:root{
    --bcg-color:#001122;
    --primary:#155e75;
    --border-radius:8px;
    --secondry-color: white;
    --border-color: #7fb7c9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.image{
    height: 200px;
    width: 200px;   
    background: none;
}
 .title{
    display: flex;
    justify-content: center;

 }

 body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001122;
 }

 .box{
    background-color: var(--primary);
    padding: 40px;
    width: 400px;
    border-radius: var(--border-radius) ;
 }

 .qr-header{
    font-size: 26px;
    text-align: center;
    color: var(--secondry-color);
    margin-bottom: 24px;
    text-transform: uppercase;
 }

 .qr-header input{
    width : 100%;
    margin-block: 12px;
 }

 .qr-header input,select{
    padding: 8px;
    border-radius: var(--border-radius);
    font-size: 18px;
    outline: none;
    border: 2px solid var(--border-color);
 }

 .qr-header label{
    color: var(--secondry-color);
    font-size: 20px;
 }

 .qr-header div{
    display: flex;
    justify-content: space-between;
 }

 .qr-footer{
   
    display: flex;
    justify-content: center;
 }

 .qr-footer a{
    text-decoration: none;
    background-color: var(--secondry-color);
    font-size: 20px;
    padding: 14px 36px;
    margin-inline: 2px;
    color: var(--primary);
    font-weight: 600;
    border-radius: var(--border-radius);
 }

 .qr-body{
   display: grid;
   place-items: center;
   padding: 5px;
 }

 .qr-body img{
    width: 100%;
    height: 100%;
   margin-block:10px;
   padding: 20px;
   border: 0.5px solid var(--border-color);
   border-radius: var(--border-radius);
 }


 